<div class="user-details">
  <h1>User with id {{userDetailsComponent.id}} details</h1>
  <div>User Id : {{userDetailsComponent.id}}</div>
  <div>User name : {{userDetailsComponent.name}}</div>
  <div>USERNAME : {{userDetailsComponent.username}}</div>
  <div>User email : {{userDetailsComponent.email}}</div>
  <div> {{userDetailsComponent.address.city}}</div>
  <div>{{userDetailsComponent.address.street}}</div>
  <div> {{userDetailsComponent.address.suite}}</div>
  <div> {{userDetailsComponent.address.zipcode}}</div>
  <div> {{userDetailsComponent.address.geo.lat}}</div>
  <div> {{userDetailsComponent.address.geo.lng}}</div>
  <div> {{userDetailsComponent.company.name}}</div>
  <div> {{userDetailsComponent.company.catchPhrase}}</div>
  <div> {{userDetailsComponent.company.bs}}</div>
</div>
