.main-movie {
  display: flex;
  align-items: center;
  width: 250px;
  height: 300px;
  flex-direction: column;
  row-gap: 20px;
  padding: 5px;
  margin: 5px;
}

.main-movie :hover {
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}

.title {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #080852;
}
