<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css"/>

<div class="carousel-block">
  <div class="popular">The most popular</div>
  <hr>
  <carousel class="carousel" [itemsPerSlide]="itemsPerSlide">
    <slide *ngFor="let movie of movies">
      <div class="slide">
        <img src="{{img}}{{movie.backdrop_path}}" alt="backdrop_path" class="img"/>
        <span>
          {{movie.original_title}}
        </span>
      </div>
    </slide>
  </carousel>
</div>
