.user-block{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  margin: 10px;
  border: 1px solid blue;
  border-radius: 10px;
  background: aqua;
  width: 500px;
}
