<div class="movies-main-block">
  <div class="main-genres-block">
    <app-genres></app-genres>
  </div>
  <div class="main-movies-block">
    <app-carousel style="width: 100%"></app-carousel>

    <div class="main-movies">
      <div class="movies">

        <div>
          <form [formGroup]="form" (submit)="search()">
            <input type="text" formControl="name"/>
          </form>
        </div>


        <app-movie *ngFor="let movie of movies" [movie]="movie"></app-movie>
      </div>

      <div class="main-pagination-block">
        <div *ngFor="let page of movies | paginate: {itemsPerPage: 20, currentPage: page, totalItems:total_page}"></div>
        <pagination-controls (pageChange)="change($event)"></pagination-controls>
      </div>

    </div>
  </div>
</div>

