.car {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  row-gap: 10px;
  border: 1px solid teal;
  border-radius: 10px;
  background-color: #65fdfd;
}
